body {
  background-color: #011517;
}
h1,
h2 {
  font-family: "Mango Grotesque";
  font-style: italic;
}
.header {
  background: radial-gradient(ellipse at top, #0e292b 54%, #011517 72%);
  height: 100vh;
  display: flex;
  align-items: center;
}
.glow {
  text-align: center;
}
.glow h1 {
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 20px #0d5e68, 0 0 20px #0d5e68;
  font-style: italic;
}
.glow .minor {
  display: block;
  font-size: 8.5rem;
  font-style: italic;
  word-spacing: 3px;
}
.glow p {
  color: white;
}
/* Buy Now Button */

.btn-1 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #44e2b1;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
  color: white;
  border-radius: 30px;
  width: 220px;
  font-size: 20px;
  font-weight: 600;
}

.btn-1:hover:before {
  left: 80%;
  background: linear-gradient(
    270deg,
    /* Controls direction */ rgba(68, 226, 177, 0.8) 0%,
    /* Solid color start */ rgba(68, 226, 177, 0.3) 60%,
    /* Fades at 70% */ transparent 100% /* Fully fades out */
  );
}

.btn-1:hover:after {
  right: 80%;
  background: linear-gradient(
    90deg,
    /* Controls direction */ rgba(68, 226, 177, 0.8) 0%,
    /* Solid color start */ rgba(68, 226, 177, 0.3) 60%,
    /* Fades at 70% */ transparent 100% /* Fully fades out */
  );
}

.btn-1:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: linear-gradient(
    90deg,
    /* Controls direction */ rgba(68, 226, 177, 0.8) 0%,
    /* Solid color start */ rgba(68, 226, 177, 0.3) 60%,
    /* Fades at 70% */ transparent 100% /* Fully fades out */
  );
  left: -15px;
  top: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
}

.btn-1:after {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: linear-gradient(
    270deg,
    /* Controls direction */ rgba(68, 226, 177, 0.8) 0%,
    /* Solid color start */ rgba(68, 226, 177, 0.3) 60%,
    /* Fades at 70% */ transparent 100% /* Fully fades out */
  );
  right: -15px;
  bottom: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
}
/* Btn-learn */
.btn-learn {
  color: #4e6465;
  border: 1px solid #4e6465;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
  border-radius: 30px;
  width: 200px;
}
/* Card-one */
.card-one {
  padding: 20px;
  background: transparent;
  border-radius: 20px;
  border: 1px solid #44e2b1;
  color: white;
  padding-top: 60px;
}
.card-one .glow h1 {
  text-align: justify;
  line-height: 35px;
  font-style: italic;
}
.card-one .glow p {
  text-align: justify;
}
.card-image-one {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-grid {
  padding: 0px 08px;
}
h1.class-grid-heading {
  font-size: 8.5rem;
}
/* shadow cards */
.card-grouping {
  position: relative;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 54%,
    rgba(01, 21, 23, 1) 80%
  );
  /* Background color matching your design */
  overflow: hidden;
  height: 870px;
}

/* .card-grouping:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;

  transform: scale(1.2);
  pointer-events: none;
  z-index: 9999;
} */

.card-grouping .card {
  /* Ensures cards are above the gradient */
  background-color: #112226;
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  /* Adds depth to cards */
}

.card-grouping .card {
  position: relative;
  z-index: -1;
  height: 270px;
  margin-bottom: 10px;
  background-color: #0a2224;
}

.card-grouping .col {
  padding: 0px 7px;
}

.card-text-grouping {
  padding: 10px 30px;
  padding-top: 30px;
}

.heading-text-grouping {
  top: 40px;
  position: relative;
  z-index: 99999;
  width: 100%;
  text-align: center;
}
.heading-text-grouping h1 {
  font-size: 8.5rem;
  line-height: 120px;
}
.graphic {
  position: relative;
}
.graphic1:after {
  position: absolute;
  content: "";
  background-image: url(./images/cardtwo/1.png);
  right: -280px;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
}
.graphic2:after {
  position: absolute;
  content: "";
  background-image: url(./images/cardtwo/2.png);
  right: -230px;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
}
.graphic3:after {
  position: absolute;
  content: "";
  background-image: url(./images/cardtwo/3.png);
  right: -280px;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
}
.graphic4:after {
  position: absolute;
  content: "";
  background-image: url(./images/cardtwo/4.png);
  right: -280px;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
}
.card-content {
  width: 90%;
}
.card-grouping .card {
  overflow: hidden;
  padding-right: 100px;
}
.card-grouping1 .card-content h2 {
  font-size: 39px;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 50px;
  padding-top: 40px;
}
.card-content p {
  font-size: 19px;
}
.heading-text-grouping p {
  font-size: 23px;
}

.row-top-minus {
  margin-top: -140px;
}
.col-left-minus {
  margin-left: -210px;
}
.col-right-minus {
  margin-right: -210px;
}
.card-grouping2 {
  display: none;
}
/* Services */
.services-text {
  font-size: 8.5rem;
  line-height: 8rem;
}
.service p {
  font-size: 23px;
}
.image-service img {
  width: 100%;
  height: auto;
  margin-top: -70px;
}
/* Packages */

.package-card {
  border-radius: 20px;
  background-color: transparent; /* Dark green shade */
  color: white;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); */
  padding: 20px;
  height: 100%;
  width: 100%;
}

#package-2 {
  background-image: url(./images/price1bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#package-1 {
  background-image: url(./images/price2bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#package-3 {
  background-image: url(./images/price3bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.package-card {
  height: 100%;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
}

.price {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.price h1 {
  font-size: 3rem;
  border-radius: 30px;
  font-weight: bold;
  border: 1px solid white;
  padding-top: 10px;
  width: 200px;
}

@media (max-width: 576px) {
  .price {
    font-size: 16px;
    padding: 8px 16px;
  }
}
.details-packages li {
  font-size: 23px;
}
.packages-paragraph {
  font-size: 23px;
}
/* Started */
.started2 {
  background: radial-gradient(ellipse at top, #0e292b 50%, #011517 70%);
  height: 800px;
  display: flex;
  align-items: center;
}
.started2 p,
.header p {
  font-size: 23px;
}
.steps-container {
  background-color: #001b1b; /* Dark background */
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.step p {
  padding-top: 10px;
}

.step img {
  width: 40px;
  height: 40px;
}

.divider {
  width: 2px;
  height: 70px;
  background-color: #00ffab;
  margin: auto;
}

@media (max-width: 768px) {
  .divider {
    display: none; /* Hide divider on smaller screens */
  }

  .step p {
    font-size: 14px;
  }
}
/* FAQ */

.faq-container {
  color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}
.faq-container h3 {
  font-family: "Archivo", sans-serif;
}

.accordion-button {
  background-color: transparent !important;
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #44dcad;
  padding: 15px 10px;
}

.accordion-button:not(.collapsed) {
  color: #00ffab;
  background-color: #001b1b !important;
  box-shadow: none;
}

.accordion-body {
  background-color: transparent;
  color: white;
  font-size: 14px;
  border-top: 1px solid #00ffab;
  padding: 10px 15px;
}
.accordion-item {
  color: var(--bs-accordion-color);
  background-color: transparent !important;
  border: none !important;
}
.FAQ-heading {
  font-size: 7.5rem;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  content: ""; /* Empty content */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 10.354a.5.5 0 0 1 .708 0L8 4.707l5.646 5.647a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1-.708 0l-6 6a.5.5 0 0 1 0 .708z'/%3E%3C/svg%3E");
  transform: rotate(0deg); /* Chevron pointing upwards */
}
/* Support */
.card-support {
  position: relative;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 54%,
    rgba(01, 21, 23, 1) 80%
  );
  /* Background color matching your design */
  overflow: hidden;
  height: 100%;
  padding-bottom: 130px;
}

.card-support .card {
  /* Ensures cards are above the gradient */
  background-color: #112226;
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  /* Adds depth to cards */
}

.card-support .card {
  position: relative;
  z-index: -1;
  height: 300px;
  margin-bottom: 10px;
  background-color: #0a2224;
  overflow: hidden;
}
.card-support .card .card-content {
  width: 100%;
}

.card-support .col {
  padding: 0px 7px;
}
.card-support2 {
  display: none;
}
.card-text-grouping {
  padding: 10px 30px;
  padding-top: 30px;
}
.supporting {
  position: relative;
}
.support1:after {
  position: absolute;
  content: "";
  background-image: url(./images/cardthree/1.png);
  right: -110px;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -110px;
}

.support2:after {
  position: absolute;
  content: "";
  background-image: url(./images/cardthree/2.png);
  right: -110px;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -110px;
}
.support3:after {
  position: absolute;
  content: "";
  background-image: url(./images/cardthree/3.png);
  right: -110px;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -110px;
}
.supporting h2 {
  position: relative;
  top: 200px;
}
.supporting h2 {
  font-size: 2.5rem !important;
}
/* Footer */
.text-last h1 {
  font-size: 18em;
  color: #28ab97;
  text-align: center;
}
footer {
  height: 300px;
  overflow: hidden;
}
.footer-container {
  color: white;
  padding: 20px 120px;
}

/* Timeline */
.SDLC {
  margin-top: 50px;
  margin-bottom: 130px;
}

/* Timeline Container */
.timeline-container {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

/* Vertical Line */
.timeline-container::before {
  content: "";
  position: absolute;
  width: 4px;
  background: #44e2b1;
  top: 0;
  bottom: 0;
  left: 49%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-dot {
  background: linear-gradient(to bottom, #b7baca, #92eeee);
}

/* Center Column (Dots) */
.timeline-center {
  position: relative;
  z-index: 2;
  height: 150px; /* Adjust height for spacing */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Timeline Dot */
.timeline-dot {
  width: 24px;
  height: 24px;
  z-index: 3;
  border: 3px solid #fff; /* Adds a border for better visibility */
  background: linear-gradient(to bottom, #b7baca, #92eeee);
}

/* Timeline Item Spacing */
.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.SDLC .card {
  background-color: transparent;
  border: 1px solid #44e2b1;
  color: white;
  padding: 20px 30px;
}

.SDLC .step-heading {
  font-size: 7rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* .timeline-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline-container::before {
    left: 10px;
    transform: none;
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .timeline-item .timeline-dot {
    margin-left: 10px;
  }

  .timeline-item .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .timeline-item .step-heading {
    font-size: 2.5rem; 
    text-align: center;
  }

  .timeline-center {
    height: 100px; 
  } */
}

@media (max-width: 576px) {
  .timeline-container {
    position: relative;
    padding-left: 10px;
    padding-right: 0px;
  }
  .SDLC .card {
    padding: 20px 10px;
  }
  .SDLC .card p {
    font-size: 14px;
  }
  .SDLC .step-heading {
    font-size: 4rem;
  }
  .timeline-container::before {
    left: 48%;
  }
  /* .timeline-container::before {
    left: 5px;
  }

  .timeline-item .card {
    padding: 15px;
  }

  .timeline-dot {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
  }

  .timeline-center {
    height: 80px;
  }

  .SDLC .step-heading {
    font-size: 2rem; 
  } */
}

/* Responsive design */
@media all and (min-width: 300px) and (max-width: 600px) {
  .glow .minor {
    font-size: 4rem;
    letter-spacing: 2px;
  }
  .header p {
    font-size: 15px;
  }
  .header {
    background: radial-gradient(ellipse at center, #0e292b 30%, #011517 82%);
  }
  .btn-learn {
    padding: 10px 20px;
    width: 170px;
  }
  .btn-1 {
    padding: 10px 20px;
    width: 170px;
    font-size: 16px;
  }
  .btn-headers {
    display: flex;
    margin-top: 50px;
  }
  h1.class-grid-heading {
    font-size: 4rem;
  }
  .glow p {
    font-size: 15px;
  }
  .heading-text-grouping h1 {
    font-size: 4rem;
    line-height: 70px;
  }
  .card-grouping1 {
    display: none;
  }
  .card-grouping2 {
    display: inline-block;
  }
  .card-content h2 {
    font-size: 26px;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 30px;
  }
  .card-content {
    width: 100%;
  }
  .card-content p {
    font-size: 15px;
  }
  .graphic1:after {
    right: -170px;
  }
  .graphic2:after {
    right: -140px;
  }
  .graphic3:after {
    right: -140px;
  }
  .graphic4:after {
    right: -150px;
  }
  .card-grouping {
    height: 1400px;
  }
  .services-text {
    font-size: 4rem;
    line-height: 4rem;
  }
  .image-service img {
    margin-top: 0px;
  }
  p br {
    display: none;
  }
  .started2 {
    background: radial-gradient(ellipse at center, #0e292b 20%, #011517 80%);
  }
  .FAQ-heading {
    font-size: 3.5rem;
  }
  h2.accordion-header h3 {
    font-size: 18px;
  }
  .packages-paragraph {
    font-size: 15px;
    padding: 0px 30px;
  }
  .card-support1 {
    display: none;
  }
  .card-support2 {
    display: block;
  }
  .footer-container {
    padding: 20px 30px;
  }
  .text-last h1 {
    font-size: 5.4rem;
    color: #28ab97;
  }
  .text-last {
    text-align: center;
  }
  footer {
    height: 270px;
  }
}
@media all and (min-width: 601px) and (max-width: 768px) {
  .glow .minor {
    font-size: 4rem;
    letter-spacing: 2px;
  }
  .header p {
    font-size: 15px;
  }
  .header {
    background: radial-gradient(ellipse at center, #0e292b 30%, #011517 82%);
  }
  .btn-learn {
    padding: 10px 20px;
    width: 170px;
  }
  .btn-1 {
    padding: 10px 20px;
    width: 170px;
    font-size: 16px;
  }
  .btn-headers {
    display: flex;
    margin-top: 50px;
  }
  h1.class-grid-heading {
    font-size: 4rem;
  }
  .glow p {
    font-size: 15px;
  }
  .heading-text-grouping h1 {
    font-size: 4rem;
    line-height: 70px;
  }
  .card-grouping1 {
    display: none;
  }
  .card-grouping2 {
    display: inline-block;
  }
  .card-content h2 {
    font-size: 26px;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 30px;
  }
  .card-content {
    width: 100%;
  }
  .card-content p {
    font-size: 15px;
  }
  .graphic1:after {
    right: -170px;
  }
  .graphic2:after {
    right: -140px;
  }
  .graphic3:after {
    right: -140px;
  }
  .graphic4:after {
    right: -150px;
  }
  .card-grouping {
    height: 1400px;
  }
  .services-text {
    font-size: 4rem;
    line-height: 4rem;
  }
  .image-service img {
    margin-top: 0px;
  }
  p br {
    display: none;
  }
  .started2 {
    background: radial-gradient(ellipse at center, #0e292b 20%, #011517 80%);
  }
  .FAQ-heading {
    font-size: 3.5rem;
  }
  h2.accordion-header h3 {
    font-size: 18px;
  }
  .packages-paragraph {
    font-size: 15px;
    padding: 0px 30px;
  }
  .card-support1 {
    display: none;
  }
  .card-support2 {
    display: block;
  }
  .footer-container {
    padding: 20px 30px;
  }
  .text-last h1 {
    font-size: 5.4rem;
    color: #28ab97;
  }
  .text-last {
    text-align: center;
  }
  footer {
    height: 270px;
  }
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .header {
    background: radial-gradient(ellipse at center, #0e292b 30%, #011517 82%);
  }
  .btn-learn {
    padding: 10px 20px;
    width: 170px;
  }
  .btn-1 {
    padding: 10px 20px;
    width: 170px;
    font-size: 16px;
  }
  .card-one .glow h1 {
    line-height: 30px;
    font-size: 24px;
  }
  .btn-headers {
    margin-top: 50px;
  }
  h1.class-grid-heading {
    font-size: 4rem;
  }
  .glow p {
    font-size: 15px;
  }
  .heading-text-grouping h1 {
    font-size: 4rem;
    line-height: 70px;
  }
  .card-grouping1 {
    display: none;
  }
  .card-grouping2 {
    display: block;
  }
  .card-content h2 {
    font-size: 26px;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 30px;
  }
  .card-content {
    width: 100%;
  }
  .card-content p {
    font-size: 15px;
  }
  .graphic1:after {
    right: -170px;
  }
  .graphic2:after {
    right: -140px;
  }
  .graphic3:after {
    right: -140px;
  }
  .graphic4:after {
    right: -150px;
  }
  .card-grouping {
    height: 1400px;
  }
  .services-text {
    font-size: 4rem;
    line-height: 4rem;
  }
  .image-service img {
    margin-top: 0px;
  }

  .started2 {
    background: radial-gradient(ellipse at center, #0e292b 20%, #011517 80%);
  }
  .FAQ-heading {
    font-size: 3.5rem;
  }
  h2.accordion-header h3 {
    font-size: 18px;
  }
  .packages-paragraph {
    font-size: 15px;
    padding: 0px 30px;
  }
  .card-support1 {
    display: none;
  }
  .card-support2 {
    display: block;
  }
  .footer-container {
    padding: 20px 30px;
  }
  .text-last h1 {
    font-size: 12.4rem;
    color: #28ab97;
  }
  .text-last {
    text-align: center;
  }
  footer {
    height: 270px;
  }
}
